= content_for :title, _('Change Password')
= breadcrumb_for_settings _('Change Password')
%h1 Change Password
= flashes

%form.form-horizontal.formtastic{:action => password_path, :id => 'form-change-password', :method => :post}
  = token_tag(nil)
  %p To change your password, enter your old password and the new password in the fields below.

  %fieldset.inputs
    .string.required.control-group
      %label.control-label Old Password
      .controls
        = password_field_tag 'old-password', '', :placeholder => _('Old Password')

    .string.required.control-group
      %label.control-label New Password
      .controls
        = password_field_tag 'password', '', :placeholder => _('New Password')
        
    .string.required.control-group
      %label.control-label New Password Again
      .controls
        = password_field_tag 'verify-password', '', :placeholder => _('New Password Again')

  %fieldset.form-actions
    = link_to _('Cancel'), settings_path, :class => 'btn'
    %button.btn.btn-danger.update{:type => 'submit'}= _('Change')
