- content_for :title, _("Reset Password")

%div.content
  %header.getup
    .wrap
      %h1.getup-sprite.logo Getup

  %section.auth
    %div.signin{ :id => 'signin' }
      %h2= _("Reset Your Password")
      %form{:action => password_update_path, :id => 'form-authentication', :method => 'post'}
        %fieldset
          = token_tag(nil)
        %fieldset
          = password_field_tag 'password', '', :placeholder => _("New Password"), :required => ''
        .pull-left
          %img{:src => image_path('astro-left.png')}
        .pull-right
          %fieldset
            %button.getup-sprite Save
          %fieldset
            = link_to _("Need Help?"), support_path, :target => '_new'

    = flashes

= javascript_include_tag 'console'
