= content_for :title, _("Invoices")
= breadcrumb_for_account _("Invoices")

= flashes

.row.billing-history
  .span12
    %section
      %h2 Invoice History

      %table.table.table-fixed
        %thead
          %tr
            %th{:scope => 'col'} Number
            %th{:scope => 'col'} Reference Month
            %th{:scope => 'col'} Processing Date
            %th{:scope => 'col'} Status
            %th.amount{:scope => 'col'} #{_("Amount")} (#{@userinfo[:currency]})
        %tbody
          - @history.each do |h|
            %tr{:style => 'cursor: pointer; cursor: hand;', :data => {:href => account_billing_path(h[:number])}}
              %td 
                #{h[:number]}
              - ref_date = !h[:ref_date].nil? ? Date.strptime("#{h[:ref_date]}","%Y-%m-%d").strftime("%h, %Y") : '-'
              %td #{ref_date}
              - proc_date = !h[:proc_date].nil? ? Date.strptime("#{h[:proc_date]}","%Y-%m-%d").strftime("%h %d, %Y") : '-'
              %td #{proc_date}
              %td #{_(h[:status]).capitalize}
              %td.amount #{h[:amount]}

- content_for :javascripts do
  :javascript
    $('.table-fixed tbody tr td').on('click', function() {
      var td = $(this)
      var tr = td.parent()
      var href = tr.attr('data-href')
      if ($(tr).find(td).index() != 6) {
        window.location.href = href
      }
    });
