#footer-nav
  .container
    .row
      %nav.span4
        %header
          %h3= t('.developers')
        %ul.unstyled
          %li= link_to _('Get Started'), getting_started_path
          //%li= link_to _('User Guide'), user_guide_url
          %li= link_to _('FAQ'), faq_url
          %li!= link_to(_("IRC Channel"), irc_web_url)

      %nav.span8
        %address
          %p
            = link_to 'Getupcloud.com', getupcloud_url
            %strong GROW IN THE CLOUD.


%section#copyright
  .container! Source code for the OpenShift Origin management console is #{link_to(_('available on Github'), openshift_github_project_url('origin-server/tree/master/console'))}. #{link_to('README.md', openshift_github_project_url('origin-server/blob/master/README.md'))} for copyright and source information. OpenShift, OpenShift Origin and the OpenShift Logo are trademarks of Red Hat, Inc.
