%h2= I18n.t :Credits

:css
  .credits { width: 50%; }

%table.table.credits
  %tbody
    - if plan[:free_tier].to_i > 0
      %tr
        %td Free Tier:
        %td #{plan[:free_tier].to_i} #{I18n.t(:hours)}/small gear

    - if plan[:bonus].to_i > 0
      %tr
        %td Bonus:
        %td #{number_with_precision(plan[:bonus].to_f, :precision => 2)} #{I18n.t(:hours)}/small gear

    - if plan[:voucher].to_f > 0.0
      %tr
        %td Voucher:
        %td R$ #{number_with_precision(plan[:voucher].to_f, :precision => 2)}

    %tr
      %td.right{:colspan => 2} #{getup_credit_url}
      %td
