%h2= t('.addr_title')

%p= t('.addr_caption')

.btn-toolbar
  %p
    = link_to t('.tech_info'), edit_account_address_primary_path, :class => 'btn btn-small btn-danger'
    = link_to t('.bill_info'), edit_account_address_billing_path, :class => 'btn btn-small btn-danger'

///////////////////

%h2= t('.billing_title')

%p= t('.billing_caption')

.btn-toolbar
  = link_to t('.invoices'), account_billings_path, :class => 'btn btn-small btn-danger'

///////////////////

- if @has_credits
  %section
    = render :partial => 'credits', :locals => {:plan=> @plan, :getup_credit_url => @getup_credit_url}

