
//%p.total-gears You have #{pluralize(capabilities.gears_free, _('gear available'), _('gears available'))} of #{capabilities.max_gears} total.

- if plan[:is_trial]
  %p
    Your trial period has finished.
    Please validate your account below in order to have access to more resources.

- if payment and payment[:valid]

  %h2 Payment

  %table.table.payment-data
    %body
      - if payment[:type] == 'paypal_reftrans'
        %tr
          %td Current Payment Method:
          %td PayPal (Express Checkout)
        %tr
          %td{:scope => 'col'} Paypal Account:
          %td{:scope => 'row'}= payment[:email]
        %tr
          %td{:scope => 'col'} Date:
          %td{:scope => 'row'}= payment[:create_date]
        %tr
          %td{:scope => 'col'} Id:
          %td{:scope => 'row'}= payment[:billing_agreement_id]

      - elsif payment[:type] == 'paypal'
        %tr
          %td Current Payment Method:
          %td PayPal (PreApproval Key)
        %tr
          %th{:scope => 'col'} Paypal Account:
          %td{:scope => 'row'}= payment[:email]
        %tr
          %th{:scope => 'col'} Amount
          %td{:scope => 'row'}= payment[:amount]
        %tr
          %th{:scope => 'col'} Date:
          %td{:scope => 'row'}= payment[:create_date]
        %tr
          %th{:scope => 'col'} Key:
          %td{:scope => 'row'}= payment[:key]

      - elsif payment[:type] == 'creditcard'
        %tr
          %td Current Payment Method:
          %td Credit Card
        %tr
          %th{:scope => 'col'} Brand:
          %td{:scope => 'row'}= payment[:brand]
        %tr
          %th{:scope => 'col'} Last Digits:
          %td{:scope => 'row'}= '**** **** **** ' + payment[:last_digits]
        %tr
          %th{:scope => 'col'} Holder Name:
          %td{:scope => 'row'}= payment[:holder_name]
        %tr
          %th{:scope => 'col'} Date:
          %td{:scope => 'row'}= payment[:create_date]
      - elsif payment[:type] == 'boleto'
        %tr
          %td Current Payment Method:
          %td Boleto Bancário

  %p! For pricing consult #{link_to(_('our pricing page'), pricing_url, {:target => '_new'})}.

  = render :partial => 'payment_method', :locals => {:payment => payment}

- else
  %p Please validate your account below in order to have access to more resources.
  %p! For pricing consult #{link_to(_('our pricing page'), pricing_url, {:target => '_new'})}.

  = render :partial => 'payment_method', :locals => {:payment => payment}
