%h2 Payment

//%p.total-gears You have #{pluralize(capabilities.gears_free, _('gear available'), _('gears available'))} of #{capabilities.max_gears} total.

- if plan[:status] == 'te' or plan[:status] == 'tf'
  %p
    Your trial period has finished.
    Please validate your account below in order to have access to more resources.

- if payment[:valid]

  %table.table.payment-data
    %body
      - if payment[:type] == 'paypal_reftrans'
        %tr
          %td Current Payment Method:
          %td PayPal (Express Checkout)
        %tr
          %td{:scope => 'col'} Paypal Account:
          %td{:scope => 'row'}= payment[:email]
        %tr
          %td{:scope => 'col'} Date:
          %td{:scope => 'row'}= payment[:create_date]
        %tr
          %td{:scope => 'col'} Id:
          %td{:scope => 'row'}= payment[:billing_agreement_id]

      - elsif payment[:type] == 'paypal'
        %tr
          %td Current Payment Method:
          %td PayPal (PreApproval Key)
        %tr
          %th{:scope => 'col'} Paypal Account:
          %td{:scope => 'row'}= payment[:email]
        %tr
          %th{:scope => 'col'} Amount
          %td{:scope => 'row'}= payment[:amount]
        %tr
          %th{:scope => 'col'} Date:
          %td{:scope => 'row'}= payment[:create_date]
        %tr
          %th{:scope => 'col'} Key:
          %td{:scope => 'row'}= payment[:key]

      - elsif payment[:type] == 'creditcard'
        %tr
          %td Current Payment Method:
          %td Credit Card
        %tr
          %th{:scope => 'col'} Brand:
          %td{:scope => 'row'}= payment[:brand]
        %tr
          %th{:scope => 'col'} Last Digits:
          %td{:scope => 'row'}= '**** **** **** ' + payment[:last_digits]
        %tr
          %th{:scope => 'col'} Holder Name:
          %td{:scope => 'row'}= payment[:holder_name]
        %tr
          %th{:scope => 'col'} Date:
          %td{:scope => 'row'}= payment[:create_date]
      - elsif payment[:type] == 'boleto'
        %tr
          %td Current Payment Method:
          %td Boleto Bancário

  %button.btn.btn-primary{:type => 'button', 'data-toggle' => 'collapse', 'data-target' => "#collapsePayment", 'aria-expanded' => "false", 'aria-controls' => "collapsePayment"} Change Payment Method

  .collapse{:id => 'collapsePayment'}
    .well
      = render :partial => 'payment_method'

- else
  %p Please validate your account below in order to have access to more resources.
  = render :partial => 'payment_method'
