%h2= t('.authorization')

//%pre
//  = payment

- if plan[:status] == 'te' or plan[:status] == 'tf'
  %p= t('.trial_finished')

%p.total-gears= t('.available_gears', gears_free: capabilities.gears_free, max_gears: capabilities.max_gears).html_safe

- if payment[:valid]

  %table.table.payment-data
    %body
      - if payment[:type] == 'paypal_reftrans'
        %tr
          %td= t('.current_payment_method') + ':'
          %td PayPal (Express Checkout)
        %tr
          %td{:scope => 'col'}= t('.paypal_account') + ':'
          %td{:scope => 'row'}= payment[:email]
        %tr
          %td{:scope => 'col'}= t('.date') + ':'
          %td{:scope => 'row'}= payment[:create_date]
        %tr
          %td{:scope => 'col'}= t('.id') + ':'
          %td{:scope => 'row'}= payment[:billing_agreement_id]

      - elsif payment[:type] == 'paypal'
        %tr
          %td= t('.current_payment_method')
          %td PayPal (PreApproval Key)
        %tr
          %th{:scope => 'col'}= t('.paypal_account') + ':'
          %td{:scope => 'row'}= payment[:email]
        %tr
          %th{:scope => 'col'}= t('.amount') + ':'
          %td{:scope => 'row'}= payment[:amount]
        %tr
          %th{:scope => 'col'}= t('.date') + ':'
          %td{:scope => 'row'}= payment[:create_date]
        %tr
          %th{:scope => 'col'}= t('.pa_key') + ':'
          %td{:scope => 'row'}= payment[:key]

      - elsif payment[:type] == 'creditcard'
        %tr
          %td= t('.current_payment_method') + ':'
          %td Credit Card
        %tr
          %th{:scope => 'col'}= t('.brand') + ':'
          %td{:scope => 'row'}= payment[:brand]
        %tr
          %th{:scope => 'col'}= t('.last_digits') + ':'
          %td{:scope => 'row'}= '**** **** **** ' + payment[:last_digits]
        %tr
          %th{:scope => 'col'}= t('.holder_hame') + ':'
          %td{:scope => 'row'}= payment[:holder_name]
        %tr
          %th{:scope => 'col'}= t('.date') + ':'
          %td{:scope => 'row'}= payment[:create_date]
      - elsif payment[:type] == 'boleto'
        %tr
          %td= t('.current_payment_method') + ':'
          %td Boleto Bancário

  %button.btn.btn-primary{:type => 'button', 'data-toggle' => 'collapse', 'data-target' => "#collapsePayment", 'aria-expanded' => "false", 'aria-controls' => "collapsePayment"}= t('.change_payment_method')

  .collapse{:id => 'collapsePayment'}
    .well
      = render :partial => 'payment_method'

- else
  %p= t('validate_your_account')
  = render :partial => 'payment_method'
