= content_for :title, t(".title.#{@type.to_s}")
= breadcrumb_for_account t(".title.#{@type.to_s}")
%h1= t ".title.#{@type.to_s}"
= flashes

%form.form-horizontal.formtastic.form-address{:action => @action_path, :id => 'form-address', :method => 'post'}
  = token_tag(nil)
  %p= t(".caption.#{@type.to_s}")

  - if @type == :billing
    %p
      .string.required.control-group
        %label.control-label= t('.use_contact_info')
        .controls
          = check_box_tag :is_billing, !@address[:is_billing], !@address[:is_billing]

  %fieldset.inputs
    .string.required.control-group
      %label.control-label= t('.name')
      .controls
        = text_field_tag 'name', @address[:name], :placeholder => t('.name'), :class => 'input-xlarge'

    .string.required.control-group
      %label.control-label= t('.email')
      .controls
        = text_field_tag 'email', @address[:email], :placeholder => t('.email'), :class => 'input-xlarge'

    .string.required.control-group
      %label.control-label= t('.phone')
      .controls
        = phone_field_tag 'phone', @address[:phone], :placeholder => t('.phone'), :class => 'input-medium'

    .string.required.control-group
      %label.control-label= t('.address')
      .controls
        = text_field_tag 'line1', @address[:line1], :placeholder => t('.address'), :class => 'input-xlarge'

    .string.required.control-group
      %label.control-label 
      .controls
        = text_field_tag 'line2', @address[:line2], :placeholder => t('.address'), :class => 'input-xlarge'

    .string.required.control-group
      %label.control-label= t('.city')
      .controls
        = text_field_tag 'city', @address[:city], :placeholder => t('.city'), :class => 'input-xlarge'

    .string.required.control-group
      %label.control-label= t('.state')
      .controls
        = text_field_tag 'state', @address[:state], :placeholder => t('.state'), :class => 'input-medium'

    .string.required.control-group
      %label.control-label= t('.country')
      .controls
        = select_tag :country_code, options_for_select(country_list, @address[:country_code])

    .string.required.control-group
      %label.control-label= t('.postal_code')
      .controls
        = text_field_tag 'postal_code', @address[:postal_code], :placeholder => t('.postal_code'), :class => 'input-small'

    .string.required.control-group.br-type-control.hidden
      %label.control-label Pessoa Física
      .controls
        = radio_button_tag 'type', 'pf', @address[:type] == 'pf'

    .string.required.control-group.br-type-control.hidden
      %label.control-label CPF
      .controls
        = text_field_tag 'pf_cpf', @address[:pf_cpf], :placeholder => "CPF", :class => 'input-medium type-pf-control', :disabled => @address[:type] != 'pf'

    .string.required.control-group.br-type-control.hidden
      %label.control-label Pessoa Jurídica
      .controls
        = radio_button_tag 'type', 'pj', @address[:type] == 'pj'

    .string.required.control-group.br-type-control.hidden
      %label.control-label CNPJ
      .controls
        = text_field_tag 'pj_cnpj', @address[:pj_cnpj], :placeholder => "CPNJ", :class => 'input-medium type-pj-control', :disabled => @address[:type] != 'pj'

    .string.required.control-group.br-type-control.hidden
      %label.control-label Insc. Est.
      .controls
        = text_field_tag 'pj_ie', @address[:pj_ie], :placeholder => "Insc. Estadual.", :class => 'input-medium type-pj-control', :disabled => @address[:type] != 'pj'

  %p
    %fieldset.form-actions
      = link_to t('.cancel'), account_path, :class => 'btn'
      %button.btn.btn-danger.update{:type => 'submit'}= t('.save')
