%h2 Create
%p.subhead Just starting with OpenShift?
%p Get your first application up off the ground through the application creation wizard.
%p= link_to(_('Create an app now'), application_types_path, :class => 'btn btn-primary')
%p! If you prefer the command line, #{link_to(_('our Getting Started page'), getting_started_path)} will help you install the client tools, create your application, and make your first change.
%p! Our #{link_to(_('Get Started Fast page'), developers_get_started_fast_url)} has tutorials for creating apps based many different technologies like #{link_to(_('Drupal'), openshift_github_project_url('drupal-quickstart'))}, #{link_to(_('Ruby on Rails'), openshift_github_project_url('rails-example'))}, and #{link_to(_('Wordpress'), openshift_github_project_url('wordpress-example'))}. If you don't see your favorite framework, #{link_to(_('let us know'), mailto_openshift_url)}.
